.Drawer {
  .DrawerHeader {
    background-color: #282c34;
  }
  .DrawerContent {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
  .DrawerList {
    flex: 1;
    overflow-y: scroll;
  }
}
