.App {
  display: flex;
  height: 100vh;
  .DrawerAppContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    .Content {
      flex: 1;
      position: relative;
      overflow-y: hidden;
      padding: 0 1.5em;
    }
  }
}
