/**
 * Submenu
 */
.submenu {
  float: left;
  width: 100%;
  .submenu-list-item {
    cursor: pointer;
  }
}

.submenu__children {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.submenu__children--open {
  max-height: 25rem;
  overflow-y: scroll;
}

.submenu__icon {
  transition: transform 0.5s;
  user-select: none;
}

.submenu__icon--open {
  transform: rotate(90deg);
}

.submenu__children .mdc-list-item > span:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
}
