/**
 * Submenu
 */
.submenu {
  float: left;
  width: 100%;
  .submenu-list-item {
    cursor: pointer;
  }
}

$cb: cubic-bezier(0.4, 0, 0.2, 1);

.submenu__children {
  overflow: hidden;
  height: 0;
  transition: height 250ms $cb;
}

.submenu__children--open {
  height: 16rem;
  overflow-y: scroll;
  transition: height 250ms $cb;
}

.submenu__icon {
  transition: transform 200ms 50ms $cb;
  user-select: none;
}

.submenu__icon--open {
  transform: rotate(90deg);
}

.submenu__children .mdc-list-item > span:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
}
