/**
 * Submenu
 */
.submenu {
  float: left;
  width: 100%;
  .submenu-list-item {
    cursor: pointer;
  }
}

.submenu__children {
  overflow: hidden;
  height: 0;
  transition: height 150ms ease-in;
}

.submenu__children--open {
  height: 16rem;
  overflow-y: scroll;
  transition: height 200ms ease-out;
}

.submenu__icon {
  transition: transform 100ms ease-in;
  user-select: none;
}

.submenu__icon--open {
  transform: rotate(90deg);
}

.submenu__children .mdc-list-item > span:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
}
