:root {
  /* --mdc-theme-primary: #282c34; */
  --mdc-theme-background: #f4f5f8;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 400ms ease;
}

.darken {
  background-color: rgba(0, 0, 0, 0.4);
}
