:root {
  /* --mdc-theme-primary: #282c34; */
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 400ms ease;
}

body.darken {
  background-color: #676767;
}
